body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* --- Gallery --- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  --size: 5rem;
  height: var(--size);
  min-width: var(--size);
  flex: 1 1;
  cursor: pointer;
  position: relative;
}

.gallery-item::after {
  --size: 2rem;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-image: url('./instagram-stolen.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 100vw;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

.gallery-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color ease-in-out 250ms;
}

.gallery-item:hover::after {
  opacity: 1;
}

.gallery-item:hover::before {
  background-color: rgba(0, 0, 0, .5);
}

.gallery-item img {
  object-fit: cover;
}

.lightbox[open] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  padding: 0;
  background-color: transparent;
  z-index: 1000;
  user-select: none;
}

.lightbox::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .75);
  z-index: -1;
}

.lightbox-close-button,
.lightbox-previous-button,
.lightbox-next-button {
  --offset: 1.5rem;
  content: 'x';
  position: fixed;
  top: var(--offset);
  right: var(--offset);
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
  background-color: transparent;
}

.lightbox-previous-button {
  top: 50%;
  left: var(--offset);
  transform: translateY(-50%);
}

.lightbox-next-button {
  top: 50%;
  right: var(--offset);
  transform: translateY(-50%);
}

.lightbox img {
  max-width: 80vw;
  max-height: 90vh;
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .gallery-item {
    --size: 10rem;
  }
}
